/*
_______   ____    _____   _____  _       ______
|__   __| / __ \  / ____| / ____|| |     |  ____|
   | |   | |  | || |  __ | |  __ | |     | |__
   | |   | |  | || | |_ || | |_ || |     |  __|
   | |   | |__| || |__| || |__| || |____ | |____
   |_|    \____/  \_____| \_____||______||______|
*/

.button.is-text {
    background-color: transparent;
    border: 0;
}

.button-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#menu-button {
    width: 40px;
    height: 40px;
    background-color: #6710E5;
    transition: background-color 2s ease;
}

/* Menu toggle button */
.icon {
    line-height: 0;
}

.menu-icon {
    text-align: right;
    width: 20px;
}

.menu-icon::after, .menu-icon::before {
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 3px;
    width: 27px;
    margin: 3px 0;
    transition-duration: 0.5s;
}

.menu-icon::before {
    width: 20px;
}

.menu-icon::after {
    width: 18px;
}

#menu-button:hover .menu-icon::before {
    width: 18px;
    transition-duration: 0.5s;
}

#menu-button:hover .menu-icon::after {
    width: 20px;
    transition-duration: 0.5s;
}

#menu-button.is-opened {
    background-color: transparent;
}

#menu-button.is-opened .menu-icon::before {
    transform: rotateZ(135deg) translate(3px, -3px);
    width: 20px;
}

#menu-button.is-opened .menu-icon::after {
    transform: rotateZ(-135deg) translate(3px, 3px);
    width: 20px;
}



html {
    scroll-behavior: smooth;
}

section {
    padding: 6%;
    min-height: 80vh;
}

.container {
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
}

h1,
h2,
h3,
h4,
p,
li,
a {
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-weight: 600;
}

p{
    font-size: 22px;
}

li{
    font-size: 20px;
}

.desktop {
    display: block;
}

.desktopMenor {
    display: none;
}

.mobile {
    display: none;
}

.navbar {
    background-color: #fff !important;
    padding: 1%;
}

.nav-link {
    font-size: 18px;
    margin: 0px 14px;
}

.navbar img {
    max-width: 240px;
}

.navbar-collapse {
    text-align: center;
}

.dropdown-menu{
    text-align: center;
    background: rgba(0,0,0,.9);
    border-radius: 15px;
}

.dropdown a{
    color: #fff;
}

#secConstrucao{
    margin-top:2%;
}

.contentImage img {
    margin: 14px 0px;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contentInfos {
    padding-top: 4%;
}

#secTelas {
    background: #f5f5f5;
}

.imgFooter {
    width: 100%;
    bottom: 0;
    z-index: 999;
}

@media (max-width: 1024px) {
    .desktopMenor {
        display: none;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    h2{
        font-size: 28px;
    }
    
    p{
        font-size: 18px;
    }
    
    li{
        font-size: 16px;
    }

    .navbar{
        padding: 20px;
    }

    #secConstrucao{
        margin-top:100px;
    }
    
    .slick-slide img {
        width: 100% !important;
    }

    .divTrabalhamos p{
        text-align: center
    }
    
    #secDrywall {
        margin-top: 60px;
    }
    
    #menu-button {
        background: #f5f5f5;
        border:none;
    }
    
    .menu-icon::after, .menu-icon::before {
        background-color: red;
    }
}